* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {

    --primary: #e8e7e7 !important;
    --secondary: #818181 !important;
    --tertiary: #B9B9B9 !important;
    --fourth: #413F3F !important;  
}

.container-fluid {
    width: 90% !important;
}

header {
    border: 100% solid var(--primary);
    border-radius: 10px;
    background-color: #e8e7e7;
}

h2{
    margin-bottom: 0 !important;
    font-size: 1.5rem !important;
    line-height: normal !important;
    font-weight: bold !important;
}

.suduko-text {
    color: #333;
    padding: 10px 20px;
}

.diff {
    color: #333;
    padding: 10px 20px ;
    position: relative;
}

.submit {
    padding: 10px 20px;
}

.user{
    margin: 5px auto;
    width: 50px;
    position: sticky;
}

.btn {
    background-color: var(--secondary) !important;
    color: #FFFFFF;
    border: 0%;
}


#suduko {
    height: 450px;
    width: 450px;

    background-color: aqua;
    margin: 0 auto;
    flex-wrap: wrap !important;
}

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    padding: 0 !important;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#digits {
    width: 450px;
    height: 50px;
    background-color: aquamarine;
    vertical-align: middle !important;
    padding: 0 0 !important;
    margin: auto;
}


.number {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    margin: 2px ;
    justify-content: center !important;
    align-items: center;
    vertical-align: middle !important;
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.diff-btn {
    padding: 0.5rem 3rem !important;
}

.diff-btn:hover {
    background-color: var(--tertiary) !important;
    border: var(--fourth) !important;
}

.btn:focus {
    box-shadow: none !important;
}

.diff-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 5px 0;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.diff-list li a {
  display: block;
  padding: 0.5rem 2.5rem ;
  text-decoration: none;
  color: #333;
}

.diff-list li a:hover {
  background: #f0f0f0;
  padding: 0.5rem 2.5rem ;
}

.diff-list-show {
  display: block;
}

#submit:hover {
    background-color: var(--tertiary) !important;
    border: var(--fourth) !important;
}

@media (max-width: 425px) {
    
    #suduko {
        height: 337.5px;
        width: 337.5px;
    }

    .tile {
    width: 37.5px;
    height: 37.5px;
    border: 1px solid lightgray;
    padding: 0 !important;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

    .suduko-text {
        padding: 10px 0px 10px 10px;
    }

            
#digits {
    width: 337.5px;
    height: 37.5px;
    background-color: aquamarine;
    vertical-align: middle !important;
    padding: 0 0 !important;
}


.number {
    width: 37.5px;
    height: 37.5px;
    border: 1px solid black;
    margin: 1px ;
    justify-content: center !important;
    align-items: center;
    vertical-align: middle !important;
    font-size: 24px;
    color: black;
    font-weight: bold;
}
    .btn {
        padding: 5px 10px !important;
    }

    .diff {
        padding: 10px 0px !important;
    }

    .diff-btn {
        padding: 0.5rem 1rem !important;
    }

    

.diff-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.1rem 0.5rem ;
  margin: 5px 0;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.diff-list li a {
  display: block;
  padding: 0.1rem 0.5rem ;
  text-decoration: none;
  color: #333;
}

.diff-list li a:hover {
  background: #f0f0f0;
  padding: 0.1rem 0.5rem ;
  
}

.diff-list-show {
  display: block;
}

    h2{
        font-size: 28px !important;
        padding: 2px 0px;
    }

    .user {
        width: 50px;
    }

}

@media (min-width:425px) and (max-width: 480px) {
    #suduko {
        width: 360px;
        height: 360px;
    }

    .tile {
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    padding: 0 !important;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

   #digits {
    width: 360px;
    height: 42px;
    background-color: aquamarine;
    vertical-align: middle !important;
    padding: 0 0 !important;
}


.number {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 1.5px ;
    justify-content: center !important;
    align-items: center;
    vertical-align: middle !important;
    font-size: 26px;
    color: black;
    font-weight: bold;
} 

    .btn {
        padding: 3px 2px !important;
    }
    
    .diff {
        padding: 10px;
    }

    .diff-btn {
        padding: 0.5rem 2rem !important;
    }

    

.diff-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;

  margin: 5px 0;
  list-style: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.diff-list li a {
  display: block;
  /* padding: 0.5rem 1.5rem ; */
  text-decoration: none;
  color: #333;
}

.diff-list li a:hover {
  background: #f0f0f0;
}

.diff-list-show {
  display: block;
}

    h2{
        font-size: 25px !important;
    }

    .user {
        width: 50px;
        margin: 7px;
    }
}
